<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/background_remover/image_dropper.css') }}">
        <title>Batch Background Remover</title>
    </head>

    <body>
        <h1>Background Remover</h1>
        <div class=image_dropper>
            <div class="drop-zone">
                <span class="drop-zone__prompt">Drop files here or click to upload</span>
                <input type="file" name="image" class="drop-zone__input">
            </div>
            <div class="button-container">
                <button type="submit" class="generate-button">Generate</button>
            </div>
        </div>



    </body>
</html>