<!DOCTYPE html>

<!--
/*NOTES:*/
/*
    Icons are now a font: lucide-icon-font
    Usage: Add a class with the name of the icon
    EXAMPLE:
        <div class="icon-link-2"></div>
    IMPORTANT, when getting the name of the icon add "icon-" in front of it.
    circle-chevron-left = icon-circle-chevron-left
    Icons can be looked up here: https://lucide.dev/icons/?focus
    NOTE: [class^="icon-"], [class*=" icon-"] is part of the font and in main css to style all the icons

    Authors: Deepratna Awale, Avery Velfaire
*/
-->

<html id="bg" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Auto Express UI</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/AveryVeilfaire/lucide-font@main/lucide.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/sidebar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/modal.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/image_and_prompt.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/image_viewer.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/slider_object.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/frontend_settings.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/multi_select.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon-rounded.png') }}" />

  <meta name="theme-color" content="#14151f">
  <!-- Dark/Light mode support <meta name="color-scheme" content="dark light" /> -->
</head>

<body>
  <div class="container">
    <div class="left-pane">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="sidebar-title">
          <img class="sidebar-logo" src="{{ url_for('static', filename='ico/favicon-rounded.png') }}" alt="Logo"/>
          <h1>Parameters</h1>
        </div>

        <!-- A1111 API Url -->

        <div class="input-container slider-container">
          <label for="ip-input">A1111 Api</label>
          <input id="ip-input" name="ip-input" type="text" placeholder="127.0.0.1:7860" />
          <button class="sd-connect">
            <div class="icon-link-2"></div>
          </button>
        </div>

        <!-- Model Dropdown -->
        <div class="input-container select-container">
          <label for="model-input">Model</label>
          <select id="model-input" name="model">
            <!-- Add more options as needed -->
          </select>
        </div>

        <!-- Sampler Dropdown -->
        <div class="input-container select-container">
          <label for="sampler-input">Sampler</label>
          <select id="sampler-input" name="sampler">
            <!-- Add more options as needed -->
          </select>
        </div>

        <!-- Scheduler Dropdown -->
        <div class="input-container select-container">
          <label for="scheduler-input">Scheduler</label>
          <select id="scheduler-input" name="scheduler">
            <!-- Add more options as needed -->
          </select>
        </div>

        <!-- Lora Dropdown -->
        <div class="input-container select-container">
          <label for="lora-input">Lora(s)</label>
            <select id="lora-input" class="dropdown" data-placeholder="Select Lora(s)" name="lora-input">
              <!-- Add more options as needed -->
            </select>
        </div>

        <div class="input-container grid-container">
          <!-- Clip skip Input -->
          <div class="input-container">
            <label for="clip-skip-input">Clip Skip</label>
            <input type="number" id="clip-skip-input" name="clip-skip" value="2" />
          </div>
          <!-- Seed Input -->
          <div class="input-container">
            <label id= "seed-label" for="seed-input">Seed</label>
            <input type="number" id="seed-input" name="seed-input" value="-1" min="-1" />
          </div>
        </div>

        <!-- Steps Slider + Input -->
        <div class="input-container slider-container">
          <label for="steps-slider">Steps</label>
          <input type="range" id="steps-slider" name="steps-slider" value="32" min="0" max="40" step="1"
            oninput="updateInput('steps')" />
          <input type="number" id="steps-input" name="steps-input" value="32" min="0" max="40" step="1"
            oninput="updateSlider('steps')" />
        </div>

        <!-- Width Slider + Input -->
        <div class="input-container slider-container">
          <label for="width-slider">Width</label>
          <input type="range" id="width-slider" name="width-slider" value="512" min="0" max="2048" step="1"
            oninput="updateInput('width')" />
          <input type="number" id="width-input" name="width-input" value="512" min="0" max="2048" step="1"
            oninput="updateSlider('width')" />
        </div>

        <!-- Height Slider + Input -->
        <div class="input-container slider-container">
          <label for="height-slider">Height</label>
          <input type="range" id="height-slider" name="height-slider" value="768" min="0" max="2048" step="1"
            oninput="updateInput('height')" />
          <input type="number" id="height-input" name="height-input" value="768" min="0" max="2048" step="1"
            oninput="updateSlider('height')" />
        </div>

        <!-- CFG Scale Slider + Input -->
        <div class="input-container slider-container">
          <label for="cfg-scale-slider">CFG Scale</label>
          <input type="range" id="cfg-scale-slider" name="cfg-scale-slider" value="7" min="0" max="20" step="0.5"
            oninput="updateInput('cfg-scale')" />
          <input type="number" id="cfg-scale-input" name="cfg-scale-input" value="7" min="0" max="20" step="0.5"
            oninput="updateSlider('cfg-scale')" />
        </div>

        <!-- Denoising Strength Slider + Input -->
        <div class="input-container slider-container">
          <label for="denoising-strength-slider">Denoising Strength</label>
          <input type="range" id="denoising-strength-slider" name="denoising-strength-slider" min="0" max="1"
            value="0.5" step="0.05" oninput="updateInput('denoising-strength')" />
          <input type="number" id="denoising-strength-input" name="denoising-strength-input" min="0" max="1" value="0.5" step="0.05"
            oninput="updateSlider('denoising-strength')" />
        </div>

        <div class="sidebar-add-space"></div>

        <!-- Style Selector -->
        <div class="switch-container">
          <label class="switch-label">Anime</label>
          <label class="switch">
            <input type="checkbox" id="styleSelector" /> <!--checked-->
            <span class="slider round anime"></span>
          </label>
          <label class="switch-label">Realistic</label>
        </div>
      

        <div class="sidebar-add-space"></div>
        <!-- Settings cog icon -->
        <span class="icon-settings settings-cog" onclick="openModal()"></span>
        
        <!-- Modal overlay and content -->
        <div id="modalOverlay" class="modal-overlay">
          <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">×</span>
            <!-- FrontEnd Settings (Modal Content) -->
            <div class="frontend-settings">
              <h1>GUI Settings</h1>
              <h2>Background</h2>
              <div class="input-container">
                <label>BG Animation</label>
                <div class="switch-container">
                  <label class="switch-label">Off</label>
                  <label class="switch">
                    <input type="checkbox" id="gradient-animation-toggle" checked />
                    <span class="slider round"></span>
                  </label>
                  <label class="switch-label">On</label>
                </div>
              </div>
            </div>
            <!-- End of FrontEnd Settings (Modal Content) -->
          </div>
        </div>
        <!-- End of Modal overlay and content -->
      </div>
    </div>
    <div class="center-pane">
      <div class="image-and-prompt-container">

        <div class="input-container drop-zone">
          <div class="drop-zone-prompt">
            <div class="icon-upload"></div>
            <span id="upload-file-drop-zone">Drop file here or click to upload image</span>
          </div>
          <input type="file" name="image" id="drop-zone-input-field" />
          <!-- Info icon at bottom right -->
          <div class="info-icon-overlay">
            <span class="icon-info info-icon" id="info-icon" 
              title="Drop image and click on this icon or hover over the image to see the raw generation data. This can help you fill in the missing parameters manually if not autodetected."></span>
          </div>
          <div class="tooltip" id="tooltip"></div>
        </div>
        <div class="button-container">
          <button type="submit" class="generate-button" data-lucide="image-play">
            <div class="generate-icon icon-image-play"></div>
            Generate
          </button>
          <button class="interrupt-button" data-lucide="triangle-alert">
            <div class="interrupt-icon icon-triangle-alert"></div>
            Interrupt
          </button>
        </div>
        <div class="input-container">
          <textarea type="text" id="prompt-textfield" name="prompt-textfield"
            placeholder="Prompt"></textarea>
        </div>
        <div class="input-container">
          <textarea type="text" id="negative-prompt-textfield" name="negative-prompt-textfield"
            placeholder="Negative prompt..."></textarea>
        </div>
    </div>
    </div>
    <div class="right-pane">
      <div class="image-output-container">
        <div class="input-container">
          <input type="text" class="output-directory" id="output-directory" name="output-directory"
            placeholder="Character_Name" onkeypress="loadImagesInput(event)" />
          <button class="load-images" onclick="loadImages()">
            <div class="icon-refresh-cw"></div>
          </button>
        </div>
        <div class="display-container">
          <button class="nav-left" onclick="navigate(-1)">
            <div class="nav-icon icon-circle-chevron-left"></div>
          </button>
          <div class="image-name-column-container">
            <div class="image-container">
              <img id="image-display" src="" alt="" onload="this.style.display='flex'"
                onerror="this.style.display='none'" />
            </div>
            <div id="expression-image-name"></div>
          </div>
          <button class="nav-right" onclick="navigate(1)">
            <div class="nav-icon icon-circle-chevron-right"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!DOCTYPE html>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/connect.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/image_drag_and_drop.js') }}"></script>
  <script src="{{ url_for('static', filename='js/generate.js') }}"></script>
  <script src="{{ url_for('static', filename='js/image_viewer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/anime_toggle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/frontend_settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/multi_select.js') }}"></script>
</body>

</html>