.image_and_prompt_creator {
    display: flex;
    width: 70vh;
    height: 95vh;
    flex-direction: column;
    padding-left: 10px;
    margin-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.drop-zone-prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-zone:hover {
    box-shadow: 0 0 5px #51a1df;
    border: 1px solid #51a1df;
    outline: none;
    .drop-zone-prompt {
        transform: scale(1.2);
        transition: 0.4s;
    }
}

.drop-zone {
    width: 65vh;
    height: 50vh;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    color: #cccccc;
    border: 1px solid #ffffff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}


.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: auto;
    max-width: 100%;
    object-fit: contain;
    height: 40vh;
    border-radius: 5px;
    overflow: auto;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.generate-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(74, 159, 74, 0.8);
    color: rgb(229, 229, 229);
    border: none;
    width: 100%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.generate-button:hover {
    background-color: rgb(90, 192, 90);
    transform: scale(1.02);
    transition: 0.4s;
    /* Changes the background color on hover for a simple effect */
}

.generate-button svg {
    margin-right: 10px;
    /* Adjust the spacing between the icon and text */
}

.generate-button:hover svg {
    transform: rotateZ(-15deg);
    transition: 0.4s;
    /* Adjust the spacing between the icon and text */
}

#prompt {
    color: green;
    padding: 10px;
}

#prompt:hover {
    box-shadow: 0 0 5px #51a1df;
    border: 1px solid #51a1df;
    outline: none;
}

#negative_prompt {
    color: rgb(161, 10, 10);
    padding: 10px;
}

#negative_prompt:hover {
    box-shadow: 0 0 5px #51a1df;
    border: 1px solid #51a1df;
    outline: none;
}