.image-output-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.directory-bar-container {
    display: flex;
    margin: 10px;
}

.display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.image-name-column-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image-container {
    flex: 1;
    display: flex;
    align-self: center;
    object-fit: scale-down;
}

#image-display {
    display: flex;
    object-fit: contain;
    width: 95%;
    height: 95%;
}

#image-display:empty {
    background-color: transparent;
}

#expression-image-name {
    background-color: var(--input-background-color);
    outline: none;
    border: none;
    border-radius: 10px;

    color: var(--expression-name-font-color);
    font-size: larger;
    width: 50%;
    padding: 5px 5px 5px 5px;
    margin-top: -2.5%;
    z-index: 3;
    align-self: center;
    text-align: center;
}

#expression-image-name:empty {
    background-color: transparent;
}


.output-directory {
    font-size: large;
    color: var(--output-directory-font-color);
    background-color: var(--input-background-color);
    height: var(--input-height);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 10px;

    transition: box-shadow 0.3s ease-in-out;
    flex-grow: 1;
}

.nav-button {
    margin: 10px;
    display: flex;
    color: var(--knob-color);
    height: calc(var(--input-height) * 1.75);
    width: calc(var(--input-height) * 1.75);
    cursor: pointer;
    border: none;
    border-radius: 100%;
}

.nav-icon {
    display: flex;
    font-size: xx-large;
}

.load-images {
    color: var(--knob-color);
    height: calc(var(--input-height));
    width: calc(var(--input-height));

}