.output-container {
    height: 90vh;
}

.output-directory {
    font-family: "Quicksand", sans-serif;
    width: 50vh;
    height: 30px;
    background-color: rgba(5, 5, 5, 0.7);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    resize: vertical;
    transition: box-shadow 0.3s ease-in-out;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.output-directory:hover {
    box-shadow: 0 0 5px #51a1df;
    border: 1px solid #51a1df;
    outline: none;
}

.display-container {
    display: flex;
    position: relative;
    width: 100%;
    /* Ensures the container takes the full width of its parent */
    height: 90vh;
    /* Adjust the container height as needed */
    display: flex;
    /* Using Flexbox to center the image */
    align-items: center;
    /* Centers the image vertically */
    justify-content: center;
    /* Centers the image horizontally */
    text-align: center;
    flex-direction: column;
}


.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    border: none;
    padding: 10px;
    /* user-select: none; */
}

.nav-button:hover {
    box-shadow: 0 0 5px #51a1df;
    border: 1px solid #51a1df;
    outline: none;
}

.nav-left {
    left: 7.9%;
}

.nav-right {
    right: 7.8%;
}


.load-images {
    color: white;
    background-color: #222222;
}

#image-display {
    width: auto;
    height: 80vh;
    display: block;
    z-index: 2;
}

#image-name {
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    position: relative;
    background-color: rgba(5, 5, 5, 0.4);
    /* Color for the text */
    font-size: 16px;
    /* Size of the text */
    width: auto;
    margin-top: -5%;
    z-index: 3;
    /* Space above the text */
}