.image-and-prompt-container {
  margin: 0px 15px 0px 15px;
  padding: 0px;
  width: 100%;
}

.drop-zone {
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: smaller;
  cursor: pointer;
  color: var(--font-color);
  background-color: var(--input-background-color);
  box-shadow: inset 0 0 0px 1px var(--dark-accent), var(--box-shadow-inset-neg);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  height: 40vh;
  z-index:7;
}

.drop-zone-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index:7;
}

.drop-zone:hover {
  .drop-zone-prompt {
    transform: scale(1.2);
    transition: 0.4s;
  }
}

#drop-zone-input-field {
  display: none;
}

#drop-zone-thumbnail-image {
  width: auto;
  max-width: 100%;
  object-fit: contain;
  height: 90%;
  border-radius: 5px;
  overflow: auto;
  position: relative;
  z-index:7;
}

#drop-zone-thumbnail-image::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px 0;
  font-size: small;
  text-align: center;
  z-index:7;
}

#upload-file-drop-zone {
  color: var(--font-color);
  font-weight: 400;
  font-size: medium;
  width: 80%;
  z-index:7;
}

.generate-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--generate-button-color);
  border-radius: 10px;
  font-size: large;
  color: var(--font-color);
  width: 100%;
  text-align: center;
  height: 3rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.generate-icon {
  margin-right: 20px;
  /* Adjust the left position as needed */
}

.generate-button:hover {
  background-color: var(--generate-button-hover-color);
  transform: scale(1.02);
  transition: 0.4s;
}

.generate-button:hover .generate-icon {
  transform: rotateZ(-15deg);
  transition: 0.4s;
}

#prompt-textfield {
  width: 100%;
  height: calc(var(--input-height) * 4);
  color: var(--prompt-text-color);
  background-color: var(--prompt-background-color);
  border: 1px solid var(--prompt-border-color);
}

#negative-prompt-textfield {
  width: 100%;
  height: calc(var(--input-height) * 4);
  color: var(--negative-prompt-text-color);
  background-color: var(--negative-prompt-background-color);
  border: 1px solid var(--negative-prompt-border-color);
}

/* Style for the info icon */
.info-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: var(--icon-color);
  z-index:9;
}

/* Tooltip styling (optional) */
.tooltip {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 20;
  max-width: 200px;
}

/* Show tooltip when info icon is clicked */
.input-container.drop-zone .tooltip.show {
  display: block;
}
