html,
body {
    height: 100%;
    /* Ensures the body can expand to the content size */
    min-height: 100vh;
    /* Ensures at least full viewport height */
    margin: 0;
    /* Adds padding at the top if needed, could replace margin-top */
    justify-content: center;
    /* Centers content horizontally */
    align-items: center;
    /* Centers content vertically */
    background: #222222;
    /* Background color */
}

h1 {
    font-family: "Quicksand", sans-serif;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.container {
    display: flex;
    height: 90%;
    width: 90%;
    padding: 10px;
    margin: 10px;
}


/* Input styling */
input[type="number"],
input[type="range"],
select {
    background-color: #444;
    /* Dark grey input background */
    /* Blue border */
    color: white;
    border: none;
    /* White text color */
    font-size: 14px;
    width: 70%;
}

/* Adjust slider appearance */
input[type="range"] {
    width: 50%;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px ;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0074D9;
    /* Blue thumb color */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Adjust input number appearance */
input[type="number"] {
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    box-shadow: 0 0 5px #33a2f6;
    border: 1px solid #33a2f6;
    outline: none;
}

label {
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    font-size: 14px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    font-family: "Quicksand", sans-serif;
    width: 100vh;
    height: 70px;
    margin: 10px;
    padding: 10px;
    background-color: #222222;
    border: 1px solid #33a2f6;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
    transition: box-shadow 0.3s ease-in-out;
}

textarea:focus {
    box-shadow: 0 0 5px #33a2f6;
    border: 1px solid #33a2f6;
    outline: none;
}

.logo-on-page{
    align-self: center;
    height:30px;
    margin-right: 20px;

}