html {
    background: linear-gradient(-45deg, #5fe691, #f28e8e, #44c4f3, #ff43bd);
    background-size: 200% 200%;
    animation: gradient 120s ease infinite;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


body {
    margin: 0;
    /* Adds padding at the top if needed, could replace margin-top */
    justify-content: center;
    /* Centers content horizontally */
    align-items: center;
    /* Centers content vertically */
    background-color: rgba(5, 5, 5, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Background color */
}

h1 {
    font-family: "Quicksand", sans-serif;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
}


.container {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    height: 100vh;
}

input[type="number"] {
    background-color: rgba(5, 5, 5, 0.6);
    /* Dark grey input background */
    /* Blue border */
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    /* White text color */
    font-size: 12px;
    width: 20%;
}

/* Input styling */

select {
    background-color: rgba(5, 5, 5, 0.6);
    /* Dark grey input background */
    /* Blue border */
    color: white;
    border: none;
    /* White text color */
    font-size: 14px;
    width: 70%;
    border-radius: 10px;
}

select:hover {
    box-shadow: 0 0 5px #51a1df;
    border: 1px solid #51a1df;
    outline: none;
}

input:hover {
    box-shadow: 0 0 5px #51a1df;
    border: 1px solid #51a1df;
    outline: none;
}

/* Adjust slider appearance */
input[type="range"] {
    background-color: rgba(5, 5, 5, 0.6);
    width: 50%;
    min-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    min-height: 20px;
    background-color: rgba(5, 5, 5, 0.6);
    /* Blue thumb color */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Adjust input number appearance */
input[type="number"] {
    width: 40%;
    min-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    box-shadow: 0 0 5px #51a1df;
    border: 1px solid #51a1df;
    outline: none;
}

label {
    font-family: "Quicksand", sans-serif;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 500;
    width: 30%;
    margin-right: 10px;
    padding-right: 10px;
}

textarea {
    font-family: "Quicksand", sans-serif;
    width: 100vh;
    height: 70px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(5, 5, 5, 0.6);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    resize: vertical;
    transition: box-shadow 0.3s ease-in-out;
}

textarea:focus {
    box-shadow: 0 0 5px #33a2f6;
    border: 1px solid #33a2f6;
    outline: none;
}

.logo-on-page {
    align-self: center;
    height: 30px;
    margin-right: 20px;
}