.multi-select {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  width: 100%;
  user-select: none;
  font-family: var(--font-family);
  color: var(--input-font-color);
}

.multi-select .multi-select-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--input-background-color);
  padding: 7px 12px 7px 12px;
  overflow: hidden;
  gap: 7px;
  /* min-height: 35px; */
  border-radius: 10px;
  box-shadow: var(--box-shadow-inset-pos);
  color: var(--label-font-color);
}

.multi-select .multi-select-header::after {
  content: "";
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  top: 50%;
  right: 5px;
  transform: translateY(-10%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23949ba3' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
  height: 12px;
  width: 12px;
}

.multi-select .multi-select-header.multi-select-header-active {
  border-color: var(--focus-outline-color);
}

.multi-select .multi-select-header.multi-select-header-active::after {
  transform: translateY(-50%) rotate(180deg);
}

.multi-select .multi-select-header.multi-select-header-active + .multi-select-options {
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
}

.multi-select .multi-select-header .multi-select-header-placeholder {
  color: var(--input-font-color);
}

.multi-select .multi-select-header .multi-select-header-option {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: var(--input-background-color);
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 5px;
}

.multi-select .multi-select-header .multi-select-header-max {
  font-size: 14px;
  color: var(--input-font-color);
}

.multi-select .multi-select-options {
  display: none;
  box-sizing: border-box;
  flex-flow: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: 5px;
  /* padding: 5px; */
  background-color: var(--input-background-color);
  border-radius: 10px;
  box-shadow: var(--hover-box-shadow);
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.multi-select .multi-select-options::-webkit-scrollbar {
  width: 5px;
}

.multi-select .multi-select-options::-webkit-scrollbar-track {
  background: var(--input-background-color);
}

.multi-select .multi-select-options::-webkit-scrollbar-thumb {
    background: var(--knob-color);
}

.multi-select .multi-select-options::-webkit-scrollbar-thumb:hover {
    background: var(--hover-shadow-color);
}

.multi-select .multi-select-options .multi-select-option, 
.multi-select .multi-select-options .multi-select-all {
  padding: 12px;
  height: 42px;
}

.multi-select .multi-select-options .multi-select-option:hover, 
.multi-select .multi-select-options .multi-select-option:active, 
.multi-select .multi-select-options .multi-select-all:hover, 
.multi-select .multi-select-options .multi-select-all:active {
  background-color: rgb(255, 255,255, 0.6);
  color: black;
}

/* .multi-select .multi-select-options .multi-select-all {
  border-bottom: 1px solid var(--prompt-border-color);
} */

.multi-select .multi-select-options .multi-select-search {
  border: solid 1px whitesmoke;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  width: 90%;
  outline: none;
  font-size: 16px;
  background-color: var(--input-background-color);
  color: var(--input-font-color);
}

.multi-select .multi-select-options .multi-select-search::placeholder {
  color: var(--textarea-font-color);
}

.multi-select-selected{
  background-color: whitesmoke;
  color: black;
}

.multi-select-header-option-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: var(--input-text);
    color: black;
    border-radius: 5px;
}

.multi-select-header-option-row span:last-child {
    cursor: pointer;
    font-weight: bold;
}

.icon-x{
    color: red;
}
