.sidebar {
    margin: 0px 15px 0px 15px;
    padding: 0px;
    width: 100%;
}

.sidebar-title {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: var(--font-color);
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar-logo{
    height: auto;
    width: 12%;
    position: relative;
    right:5%
}

#ip-input {
    display: flex;
    flex: auto;
    background-color: var(--input-background-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-right: 10px;
    border-radius: 10px;
    min-width: 1px;
    color: var(--input-number-color);

}

.sidebar-add-space {
    padding: 25px;
}

input:checked+.anime {
    transition: .4s;
    background-color: var(--realistic-switch-bg-color);
}

input:not(:checked)+.anime {
    transition: .4s;
    background-color: var(--anime-switch-bg-color);
}

#seed-input {
    width: 7rem;
}

#clip-skip-input {
    width: 3rem;
}

#seed-input {
    padding-right: 0.5rem;

    &::-webkit-inner-spin-button {
        appearance: none;
        opacity: 0 !important;
        cursor: auto;
        width: 0px;
    }

}
